<?xml version="1.0" encoding="utf-8"?>

<?include Version.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:swid="http://schemas.microsoft.com/wix/TagExtension"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">	
	
	<Product Id="*" Name="$(var.ProductName)" Language="1033" Manufacturer="Matt Smith"
            Version="$(var.ProductVersion.Major).$(var.ProductVersion.Minor).$(var.ProductVersion.Build)" UpgradeCode="{C9352C32-C0FF-498E-A28C-BD8CFF39D4E4}">
        
		<Package Compressed="yes" InstallerVersion="200" SummaryCodepage="1252" InstallScope="perMachine" />
        
		<Media Id="1" Cabinet="simsbulkimport.cab" EmbedCab="yes" CompressionLevel="high" />
        
		<MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed." />
		
		<Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="INSTALLDIR" Name="SIMS Bulk Import">
				
                </Directory>
            </Directory>
			
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="SIMS Bulk Import">
					<Component Id="SIMSBulkImportShortcuts">
						<util:InternetShortcut Id="OnlineDocumentationShortcut"
							Name="SIMS Bulk Import Homepage" Target="http://simsbulkimport.uk/"/>
						<Shortcut Id="StartMenuShort" Name="SIMS Bulk Import" Target="[#SIMSBulkImport.exe]"
							Description="Bulk import email addresses, Telephone numbers and UDFs into SIMS .net" WorkingDirectory="INSTALLDIR" />
						<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
						<RegistryValue Root="HKCU" Key="Software\Microsoft\SIMSBulkImport" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
					</Component>
               </Directory>
			</Directory>	
			
        </Directory>
		
		<Feature Id="MainFeature" Level="1">
		
			<Component Id="Licensing" Directory="INSTALLDIR">
				<File Source="License.rtf" />
			</Component>
			<ComponentRef Id="SIMSBulkImportShortcuts" />
			<ComponentGroupRef Id="SIMSBulkImportComponents" />
        </Feature>
		
        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp" />
		
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <Property Id="ARPPRODUCTICON">appicon.ico</Property>
		
        <Icon Id="appicon.ico" SourceFile="icon.ico" />
		
        <Property Id="ARPNOREPAIR">1</Property>
        <Property Id="ARPCOMMENTS">$(var.ProductName)</Property>
        <Property Id="ARPCONTACT">Matt Smith</Property>
        <Property Id="ARPHELPLINK">http://simsbulkimport.uk/</Property>
        <Property Id="ARPURLINFOABOUT">http://simsbulkimport.uk/</Property>
        <Property Id="ARPURLUPDATEABOUT">http://simsbulkimport.uk/</Property>
        <Property Id="ARPHELPTELEPHONE">NA</Property>
        <Property Id="ARPREADME">README</Property>
		
        <Property Id="NETFRAMEWORK40FULL" Secure="yes" />
		
        <UI>
            <UIRef Id="WixUI_InstallDir" />
        </UI>
		
    </Product>
</Wix>