<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Fragment>
        <ComponentGroup Id="SIMSBulkImportComponents" Directory="INSTALLDIR">

           <Component>
               <File Id="MahApps.Metro.dll" Source="C:\Users\alex.matravers\Documents\GitHub\SIMSBulkImport\build\MahApps.Metro.dll" />
           </Component>
           <Component>
               <File Id="Newtonsoft.Json.dll" Source="C:\Users\alex.matravers\Documents\GitHub\SIMSBulkImport\build\Newtonsoft.Json.dll" />
           </Component>
           <Component>
               <File Id="NLog.config" Source="C:\Users\alex.matravers\Documents\GitHub\SIMSBulkImport\build\NLog.config" />
           </Component>
           <Component>
               <File Id="NLog.dll" Source="C:\Users\alex.matravers\Documents\GitHub\SIMSBulkImport\build\NLog.dll" />
           </Component>
           <Component>
               <File Id="Report_Contact.xsl" Source="C:\Users\alex.matravers\Documents\GitHub\SIMSBulkImport\build\Report_Contact.xsl" />
           </Component>
           <Component>
               <File Id="Report_Pupil.xsl" Source="C:\Users\alex.matravers\Documents\GitHub\SIMSBulkImport\build\Report_Pupil.xsl" />
           </Component>
           <Component>
               <File Id="Report_Staff.xsl" Source="C:\Users\alex.matravers\Documents\GitHub\SIMSBulkImport\build\Report_Staff.xsl" />
           </Component>
           <Component>
               <File Id="SIMSBulkImport.exe" Source="C:\Users\alex.matravers\Documents\GitHub\SIMSBulkImport\build\SIMS Bulk Import.exe" />
           </Component>
           <Component>
               <File Id="SIMSBulkImport.exe.config" Source="C:\Users\alex.matravers\Documents\GitHub\SIMSBulkImport\build\SIMS Bulk Import.exe.config" />
           </Component>
           <Component>
               <File Id="SIMSBulkImport.Core.dll" Source="C:\Users\alex.matravers\Documents\GitHub\SIMSBulkImport\build\SIMSBulkImport.Core.dll" />
           </Component>
           <Component>
               <File Id="SIMSBulkImport.PowerShell.dll" Source="C:\Users\alex.matravers\Documents\GitHub\SIMSBulkImport\build\SIMSBulkImport.PowerShell.dll" />
           </Component>
           <Component>
               <File Id="SIMSBulkImport.SIMSAPI.dll" Source="C:\Users\alex.matravers\Documents\GitHub\SIMSBulkImport\build\SIMSBulkImport.SIMSAPI.dll" />
           </Component>
           <Component>
               <File Id="SIMSBulkImport.UserGen.dll" Source="C:\Users\alex.matravers\Documents\GitHub\SIMSBulkImport\build\SIMSBulkImport.UserGen.dll" />
           </Component>

		</ComponentGroup>
	</Fragment>
</Wix>
