<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="SIMS Bulk Import Tool" Id="*" UpgradeCode="C9352C32-C0FF-498E-A28C-BD8CFF39D4E4" Language="1033" Codepage="1252" Version="1.7.20" Manufacturer="Matt Smith">
    <Package Id="*" Keywords="Installer" Description="SIMS .net Bulk Import Tool" Comments="Comment" Manufacturer="Matt Smith" InstallerVersion="100" Languages="1033" Compressed="yes" SummaryCodepage="1252" />
    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Upgrade Id="C9352C32-C0FF-498E-A28C-BD8CFF39D4E4">
      <UpgradeVersion OnlyDetect="no" Property="PREVIOUSVERSIONSINSTALLED" Minimum="0.0.1" IncludeMinimum="yes" Maximum="1.7.18" IncludeMaximum="yes" />
    </Upgrade>
    <Media Id="1" Cabinet="simsbulkimport.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="ManufacturerFolder" Name="Matt Smith">
          <Directory Id="INSTALLDIR" Name="SIMS Bulk Import Tool">
            <Component Id="simsbulkimportEXE" Guid="75408fe0-243e-1954-698e-c2b71ee57bc4">
              <File Id="simsbulkimportEXE" Name="SIMSBulkImport.exe" DiskId="1" Source="C:\BUILD\SIMSBulkImport.exe" KeyPath="yes" />
              <Shortcut Id="startmenuSIMSBULKIMPORT" Directory="ProgramMenuDir" Name="SIMS Bulk Import Tool" WorkingDirectory="INSTALLDIR" Icon="appicon.ico" IconIndex="0" Advertise="yes" />
              <Shortcut Id="desktopSIMSBULKIMPORT" Directory="DesktopFolder" Name="SIMS Bulk Import Tool" WorkingDirectory="INSTALLDIR" Icon="appicon.ico" IconIndex="0" Advertise="yes" />
            </Component>
            <Component Id="simsbulkimportexeCONFIG" Guid="b17d1d8b-4fb7-1414-b138-883bc8458b4e">
              <File Id="simsbulkimportexeCONFIG" Name="SIMSBulkImport.exe.config" DiskId="1" Source="C:\BUILD\SIMSBulkImport.exe.config" KeyPath="yes" />
            </Component>
            <Component Id="simsbulkimportPDB" Guid="bbb1267b-d057-0aa4-2d7b-b2587c6c3f36">
              <File Id="simsbulkimportPDB" Name="SIMSBulkImport.pdb" DiskId="1" Source="C:\BUILD\SIMSBulkImport.pdb" KeyPath="yes" />
            </Component>
            <Component Id="nlogXML" Guid="908a73b2-06de-3864-8d51-bed39f61e914">
              <File Id="nlogXML" Name="NLog.xml" DiskId="1" Source="C:\BUILD\NLog.xml" KeyPath="yes" />
            </Component>
            <Component Id="nlogPDB" Guid="a891c315-ec98-4534-2197-df966edf90b4">
              <File Id="nlogPDB" Name="NLog.pdb" DiskId="1" Source="C:\BUILD\NLog.pdb" KeyPath="yes" />
            </Component>
            <Component Id="nlogDLL" Guid="bc07e44b-4305-9104-61bb-132aefafd95b">
              <File Id="nlogDLL" Name="NLog.dll" DiskId="1" Source="C:\BUILD\NLog.dll" KeyPath="yes" />
            </Component>
            <Component Id="updateconfigEXE" Guid="c8365689-c099-f854-153d-881e79a2753c">
              <File Id="updateconfigEXE" Name="UpdateConfig.exe" DiskId="1" Source="C:\BUILD\UpdateConfig.exe" KeyPath="yes" />
            </Component>
            <Component Id="ReportContactXSL" Guid="bbaee814-a26a-7834-0547-674d0df0ab2a">
              <File Id="ReportContactXSL" Name="Report_Contact.xsl" DiskId="1" Source="C:\BUILD\Report_Contact.xsl" KeyPath="yes" />
            </Component>
            <Component Id="ReportPupilXSL" Guid="738d2514-1093-dbf4-4db0-437e2cbbf570">
              <File Id="ReportPupilXSL" Name="Report_Pupil.xsl" DiskId="1" Source="C:\BUILD\Report_Pupil.xsl" KeyPath="yes" />
            </Component>
            <Component Id="ReportStaffXSL" Guid="3a2ead40-effe-a9e4-8d83-5d93949633ef">
              <File Id="ReportStaffXSL" Name="Report_Staff.xsl" DiskId="1" Source="C:\BUILD\Report_Staff.xsl" KeyPath="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="SIMS Bulk Import Tool">
          <Component Id="ProgramMenuDir" Guid="94bbda33-5187-5ca4-f9f6-3cf589d3e6dc">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
    <Feature Id="Complete" Level="1">
      <ComponentRef Id="simsbulkimportEXE" />
      <ComponentRef Id="simsbulkimportexeCONFIG" />
      <ComponentRef Id="simsbulkimportPDB" />
      <ComponentRef Id="nlogXML" />
      <ComponentRef Id="nlogPDB" />
      <ComponentRef Id="nlogDLL" />
      <ComponentRef Id="updateconfigEXE" />
      <ComponentRef Id="ReportContactXSL" />
      <ComponentRef Id="ReportPupilXSL" />
      <ComponentRef Id="ReportStaffXSL" />
      <ComponentRef Id="ProgramMenuDir" />
    </Feature>
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="ARPPRODUCTICON">appicon.ico</Property>
    <Icon Id="appicon.ico" SourceFile="..\SIMSBulkImport\Branding\icon.ico" />
    <Property Id="ARPNOREPAIR">1</Property>
    <Property Id="ARPCOMMENTS">SIMS Bulk Import Tool</Property>
    <Property Id="ARPCONTACT">Matt Smith</Property>
    <Property Id="ARPHELPLINK">http://www.matt40k.co.uk/</Property>
    <Property Id="ARPURLINFOABOUT">http://www.matt40k.co.uk/</Property>
    <Property Id="ARPURLUPDATEABOUT">http://www.matt40k.co.uk/projects/</Property>
    <Property Id="ARPHELPTELEPHONE">NA</Property>
    <Property Id="ARPREADME">README</Property>
    <Property Id="LICENSEKEY">DEMO</Property>
    <Property Id="NETFRAMEWORK40FULL" Secure="yes" />
    <CustomAction Id="SetLicenseProperty" ExeCommand="[LICENSEKEY]" Impersonate="no" HideTarget="no" Execute="deferred" Return="check" FileKey="updateconfigEXE" />
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Dialog Id="TestDlg" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="yes">
        <Control Id="WixUI_Bmp_Banner" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Title" Type="Text" X="19" Y="8" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Licensing</Text>
        </Control>
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Please enter your License key</Text>
        </Control>
        <Control Id="Install" Type="PushButton" X="304" Y="243" Width="56" Height="17" Default="yes" Text="Next">
          <Publish Event="EndDialog" Value="Return" />
        </Control>
        <Control Id="LicenseKeyId" Type="Edit" X="40" Y="130" Width="300" Height="20" Property="LICENSEKEY" Text="[LICENSEKEY]" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      </Dialog>
      <InstallUISequence>
        <Show Dialog="TestDlg" Before="ExecuteAction">NOT Installed</Show>
      </InstallUISequence>
    </UI>
    <InstallExecuteSequence>
      <Custom Action="SetLicenseProperty" Before="InstallFinalize">NOT Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
      <RemoveExistingProducts After="InstallValidate" />
    </InstallExecuteSequence>
    <Condition Message="You need to be an administrator to install this product.">AdminUser</Condition>
  </Product>
</Wix>