<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="system"
            xsi:type="File" 
            fileName="${specialfolder:folder=CommonApplicationData}/GingerBeard/Logs/log.txt"
            archiveFileName="${specialfolder:folder=CommonApplicationData}/GingerBeard/Logs/Archive/log_{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            layout="${longdate}|${level}|${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="system" />
  </rules>
</nlog>
